NEXT_PUBLIC_APP_BASE_URL='http://localhost:3000'

# Added by Payload
DATABASE_URI='postgres://postgres:password@127.0.0.1:5432/my-db'
PAYLOAD_SECRET=
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_ENDPOINT=
