{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"printWidth": 100,
	"plugins": ["prettier-plugin-tailwindcss"]
}
