@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* APP THEME */
@theme {
    --color-gray-50: oklch(97.5% 0.005 270);
    --color-gray-100: oklch(95% 0.007 270);
    --color-gray-200: oklch(90% 0.008 270);
    --color-gray-300: oklch(83% 0.01 270);
    --color-gray-400: oklch(72% 0.012 270);
    --color-gray-500: oklch(60% 0.015 270);
    --color-gray-600: oklch(47% 0.015 270);
    --color-gray-700: oklch(37% 0.012 270);
    --color-gray-800: oklch(27% 0.01 270);
    --color-gray-900: oklch(20% 0.008 270);
    --color-gray-950: oklch(12% 0.006 270);

    --color-app-accent: oklch(73.94% 0.112 83.18);
    --color-app-accent-content: oklch(61% 0.14 83.18);
    --color-app-accent-foreground: oklch(28% 0.03 83.18);
}

/* REDEFINE FLUX UI THEME */
@theme {
    --font-sans: "Josefin Sans", sans-serif;
    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);

    --color-accent: var(--color-app-accent);
    --color-accent-content: var(--color-app-accent-content);
    --color-accent-foreground: var(--color-app-accent-foreground);
}

@layer theme {
    .dark {
        --color-accent: var(--color-app-accent);
        --color-accent-content: var(--color-app-accent-content);
        --color-accent-foreground: var(--color-app-accent-foreground);
    }
}
